<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Common/App.js"></script>
    <script src="Services/customerService.js"></script>
    <script src="Contollers/customerController.js"></script>
    <title>MyMobile</title>
</head>
<body ng-app="App" class="home_body" ng-controller="customerController">
    <div id="div_loginCtrl" class="container" ng-if="isDisplayLogin">
        <!-- Default form login -->
        <form class="text-center border border-light p-5 cntr_ctrl login_ctrl" action="#!">

            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4"   ng-click="getCustomerInfo()">Sign in</button>

            
            <p>
                Not a member?
                <a href="">Register</a>
            </p>

        </form>
       
    </div>

    <div id="div_customerHome" ng-if="!isDisplayLogin">
        <div class="home_nav">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">

                    <div class="navbar-default">
                        <ul class="nav navbar-nav">
                            <li ng-class="{'selected_tab': selectSubTab==true }" class="nav-links" ng-click="showtab('sub')"><a href="#"><label>My plan</label></a></li>
                            <li ng-class="{'selected_tab': selectOfferTab==true }" ng-click="showtab('offer')"><a href="#" class="nav-links"><label> Offers </label> </a></li>
                            <li ng-class="{'selected_tab': selectFullTab==true }" ng-click="showtab('full')"><a href="#" class="nav-links"><label> Bill </label></a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <!--wlcm crtrl-->
                        </ul>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="my_tab"ng-if="selectSubTab">
            <div class="container">
                <div class="row">                    
                    <center>
                        <div class="col-xs-12 col-md-6">
                            <div class="my_sub">
                                <h4>Mobile</h4>
                                <img src="Content/Image/bundle.jpg" class="image">
                                <div class="overlay">{{customer.subscription.subscriptions[0].name}}</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="my_sub">
                                <h4>Mobile</h4>
                                <img src="Content/Image/calls.png" class="image">
                                <div class="overlay">{{customer.subscription.subscriptions[1].name}}</div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            </div>
        <div class="my_tab" ng-if="selectOfferTab">
            <div class="container">

                <div class="row">
                    <center>
                        <div class="col-xs-12 col-md-6" ng-repeat="offer in customer.offers">
                            <div class="offer_box">
                                <div class="offerPicDiv">
                                    <img src="Content/Image/bundle.jpg" class="offer_img">
                                </div>
                                <div class="offer_box_info">
                                    <h2>{{offer.name}}</h2>
                                    <h4>Expires on:{{offer.contractEndDate}}</h4>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

</body>
</html>