<div class="container">
    <div class="row">
        <center><h1>My subscription</h1></center>
        <center>
            <div class="col-xs-12 col-md-6 offer_box">
                <div class="my_sub">
                    <h4>Mobile</h4>
                    <img src="../../Content/Image/bundle.jpg" class="image">
                    <div class="overlay">{{customer.subscription.subscriptions[0].name}}</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 offer_box">
                <div class="my_sub">
                    <h4>Mobile</h4>
                    <img src="../../Content/Image/calls.png" class="image">
                    <div class="overlay">{{customer.subscription.subscriptions[1].name}}</div>
                </div>
            </div>
        </center>
    </div>
</div>